@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --asosiyRang: #f5f8fa;
    --headerTextColor: #5c7080;
    --footerBg: #014d51;
}

* {
    font-family: "Inter", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background-image: url(../img/orqa.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

h1,
h2 {
    line-height: 1.1;
    letter-spacing: 0.2px;
}

button:focus {
    outline: 0;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--headerTextColor);
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.75rem;
    border: 1px solid #c1c7cd;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
}

.search svg {
    margin-right: 0.375rem;
}

.search form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--headerTextColor);
    background: transparent;
}

.search ::-webkit-input-placeholder {
    color: var(--headerTextColor);
}

.search :-ms-input-placeholder {
    color: var(--headerTextColor);
}

.search ::-ms-input-placeholder {
    color: var(--headerTextColor);
}

.search ::placeholder {
    color: var(--headerTextColor);
}

.header .headerNav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1rem;
}

.header .leftItem:not(:last-child) {
    margin-right: 1.5rem;
}

.header .rightItem:not(:first-child) {
    margin-left: 2rem;
}

.header .rightItem {
    position: relative;
}

.header #language {
    cursor: pointer;
}

.header #DDmenu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 0rem;
    top: 1.5rem;
    /* right: -1.5rem; */
    padding: 0 1.75rem 0 1rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    background: transparent;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.header .DDitem {
    margin-bottom: 0.25rem;
}

.header .search {
    display: none;
}

@media (max-width: 1199px) {
    .header {
        font-size: 0.875rem;
        position: fixed;
        z-index: 100;
        background: #fff;
        top: 94px;
        right: -100%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        -webkit-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }

    .header .box {
        margin-top: 2rem;
        position: relative;
    }

    .header .search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .header .left {
        width: 100%;
        margin-bottom: 100px;
    }

    .header .leftItem {
        width: 100%;
        margin: 0 !important;
        padding: 1rem 0;
        border-bottom: 1px solid #e1e8ed;
    }

    .header .leftItem:first-child {
        border-top: 1px solid #e1e8ed;
    }

    .header .leftItem a {
        color: #182026 !important;
        font-weight: 500;
    }

    .header .headerNav {
        line-height: 1.125rem;
    }

    .header .left .headerNav {
        margin-top: 0.5rem;
        padding: 0;
    }

    .header .rightItem {
        margin: 0 !important;
    }

    .header .searchtop {
        display: none;
    }

    .header .language {
        display: none;
    }

    .header .specialopportunity {
        display: none;
    }
}

@media (max-width: 767px) {
    .header {
        top: 74px;
    }
}

@media (max-width: 575px) {
    .header {
        top: 60px;
    }

    .header .box {
        padding-top: 44px;
    }

    .header .left .headerNav {
        margin-top: 1rem;
    }

    .header .search {
        height: 44px !important;
    }

    .header .language {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header .specialopportunity {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.loginbox {
    position: fixed;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.04);
}

.login {
    width: 395px;
    border-radius: 12px;
    background: #fff;
    padding: 24px 36px;
}

@media (max-width: 400px) {
    .login {
        width: 96%;
        padding: 16px;
    }
}

.loginbox .x {
    float: right;
    display: flex;
}

.loginbox h1 {
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    margin: 20px 0 36px;
    font-weight: 600;
    text-align: center;
}

.Linput {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.inputLogin {
    position: relative;
}

.inputLogin button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.Linput input,
select {
    padding: 12px 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    color: #182026;
    background: #f5f8fa;
    outline: none;
}

.Linput svg {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 16px;
    color: #5c7080;
}

.Linput input:focus {
    border: 1px solid #06989d !important;
}

.Linput input::placeholder {
    color: #5c7080;
}

.required,
.requiredS {
    font-size: 12px;
    line-height: 16px;
    color: #eb3737;
    margin-top: 4px;
    display: none;
}

.kirish {
    width: 100%;
    padding: 12px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: none;
    outline: none;
    background: #069890;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.gosignup {
    width: 100%;
    margin-top: 8px;
    padding: 12px;
    text-align: center;
}

.gosignup button {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: #069890;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.signup {
    display: none;
    position: absolute;
    top: 0;
    margin: 20px 0;
    width: 470px;
    background: #fff;
    padding: 24px 36px;
    border-radius: 12px;
}

@media (max-width: 480px) {
    .signup {
        width: 96%;
        padding: 12px;
    }

    .loginbox h1 {
        margin-bottom: 24px;
    }
}

.signup select {
    color: #5c7080;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup select option {
    background: #fff;
    color: #182026;
}

.checkbox {
    display: flex;
    padding: 13px 0;
    margin-bottom: 16px;
}

.custom-radio {
    width: 50%;
    display: flex;
    align-items: center;
}

.custom-radio p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 8px;
}

.custom-radio label {
    width: 16px;
    height: 16px;
    border: 1px solid #a7b6c2;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.custom-radio label span {
    display: block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    margin: 4px;
    transition: all 0.2s ease;
}

.custom-radio input[type="radio"]:checked+label {
    background: #06989d;
    border-color: #06989d;
}

.custom-radio input {
    display: none;
}

.gologin {
    border-top: 1px solid #e1e8ed;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    padding: 20px 0 12px;
    margin-top: 24px;
}

.gologin button {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border: none;
    background: transparent;
    color: #069890;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.navbar {
    padding-top: 2.75rem;
}

.navbar a {
    color: #182026;
}

.navbar .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 11.4px;
    line-height: 13px;
}

.navbar .logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.navbar .NavbarNav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
}

.navbar .NavbarNav a {
    display: flex;
    align-items: center;
}

svg {
    margin-right: 5px;
}

.navbar .NavbarItem:not(:last-child) {
    margin-right: 2rem;
}

.navbar .buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar .enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    color: #06989d;
    background: transparent;
    border: 1px solid #06989d;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.navbar .enter p {
    margin-left: 0.375rem;
}

.navbar .menuX {
    border: none;
    display: none;
    cursor: pointer;
    background: transparent;
    color: #5c7080;
}

@media (max-width: 1399px) {
    .navbar .NavbarItem:not(:last-child) {
        margin-right: 1.5rem;
    }
}

@media (max-width: 1199px) {
    .navbar {
        padding-top: 1.5rem;
    }

    .navbar .Navbarlink {
        display: none;
    }

    .navbar .enter {
        border: none;
    }

    .navbar .menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .navbar .logo {
        font-size: 8px;
        line-height: 9.4px;
    }

    .navbar .logo img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding-top: 1.25rem;
    }

    .navbar .logo {
        font-size: 5.4px;
        line-height: 7.5px;
    }

    .navbar .logo img {
        width: 40px;
        height: 40px;
    }
}

.sectionHeader .textbox h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 2rem;
}

.sectionHeader .textbox .search {
    width: 26.75rem;
    margin-top: 24px;
}

.mainbox {
    margin: 4rem 0 2rem;
}

.mainbox .sectionHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 108px;
}

.mainbox .textbox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mainbox .textbox h1 {
    font-size: 48px;
    line-height: 110%;
}

.mainbox .imgbox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

embed {
    width: calc(100% + 17px);
}

.mainbox .imgbox img {
    width: 70%;
    height: 100%;
    border-radius: 5px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mainbox .textbox .tbox .bag {
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    padding: 5px 10px;
    margin-bottom: 24px;
    width: 26.75rem;
}

.mainbox .textbox .bag h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .mainbox .textbox h1 {
        font-size: 50px;
    }

    .mainbox .sectionHeader {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .mainbox {
        margin: 2rem 0 2.5rem;
    }

    .mainbox .sectionHeader {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .mainbox .search {
        margin-bottom: 1.5rem;
        width: 100% !important;
    }

    .mainbox .textbox {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .mainbox .textbox .tbox {
        width: 100%;
    }

    .mainbox .textbox h1 {
        margin-bottom: 1.5rem;
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: center;
    }

    .mainbox .imgbox {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .mainbox .imgbox img {
        width: 60%;
    }
}

@media (max-width: 575px) {
    .mainbox {
        margin: 2rem 0 1.5rem;
    }

    .mainbox .search {
        height: 44px;
    }

    .mainbox .textbox h1 {
        font-size: 22px;
        line-height: 26px;
    }

    .mainbox .imgbox {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .mainbox .imgbox img {
        width: 65%;
    }
}

.footer {
    background: #f2f4f8;
    color: #121619;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.footer .footerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3rem 0 1.375rem;
}

.footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #6b6f69;
    font-size: 11.4px;
    line-height: 13px;
}

.footer .logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.footer h1 {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer a {
    display: block;
    color: #6b6f69;
}

.footer ul {
    list-style-type: none;
}

.footer li:not(:last-child) {
    margin-bottom: 0.75rem;
}

.footer .row:not(:last-child) {
    margin-bottom: 1.25rem;
}

.footer .row span {
    font-size: 0.75rem;
    color: #069890;
}

.footer .tel {
    font-size: 1rem;
    line-height: 1.25rem;
}

.footer .mail {
    font-size: 1rem;
    line-height: 1.25rem;
}

@media (max-width: 1399px) {
    .footer .manzil {
        max-width: 255px;
    }
}

@media (max-width: 767px) {
    .footer .col {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer .col:first-child {
        margin-bottom: 2rem;
    }

    .footer .col:last-child {
        margin-bottom: 0.5rem;
    }

    .footer .manzil {
        max-width: 100%;
    }

    .footer .left {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 575px) {
    .footer .logo {
        font-size: 9.5px;
        line-height: 12px;
    }

    .footer .logo img {
        width: 50px;
        height: 50px;
    }
}

.table-box .son {
    margin-left: 93px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.table-box .sonlar span {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
}

.table-box .sonlar p {
    font-size: 16px;
    line-height: 20px;
    color: #30404d;
    margin: 8px 0px 8px;
}

.table-box .sonlar p svg {
    margin-left: 15px;
}

@media screen and (max-width: 1399px) {
    .home1 .new {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .home1 .big_news h1 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
    }

    .home1 .news .min_news {
        padding-top: 24px;
        margin: 0;
    }

    .home1 .new {
        width: 50%;
    }

    .home1 .new:nth-child(3) {
        display: none;
    }

    .home1 .new {
        padding-bottom: 24px;
    }

    .home1 .new img {
        height: 84%;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .home1 .news {
        position: relative;
        padding-bottom: 42px;
    }

    .home1 .big_news h1 {
        font-size: 18px;
        line-height: 22px;
    }

    .home1 .news h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .home1 .news p {
        font-size: 12px;
        line-height: 16px;
    }

    .home1 .new {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .home1 .new img {
        height: 84%;
        width: 100%;
    }

    .home1 .new:nth-child(3) {
        display: inline-block;
    }

    .home1 .big_news a {
        position: absolute;
        bottom: 0;
    }
}


/* Accordion */


/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      MAIN COLOR: #087f5b
      GREY COLOR: #343a40
      */

.accor {
    display: flex;
    align-items: center;
}

.accordion {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.accordion .item {
    width: 49%;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    border-top: 4px solid transparent;
    align-items: center;
    transition: border-top 0.3s;
}

.accordion .item.open {
    border-top: 4px solid #087f5b;
}

.accordion .item.open .hidden-box {
    display: block;
}

.accordion .item.open .text {
    color: #087f5b;
}

.accordion .number {
    color: #ced4da;
}

.accordion .number,
.accordion .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.accordion .item.open .text {
    transition: color 0.3s;
}

.accordion .icon {
    width: 24px;
    height: 24px;
    stroke: #087f5b;
    transition: transform 0.5s ease-in;
}

.accordion .item.open .icon {
    transform: rotate(180deg);
}

.accordion .hidden-box {
    grid-column: 2;
    display: none;
    transition: display 0.5 ease-in;
}

.accordion .hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
}

.accordion .hidden-box ul {
    color: #868e96;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion .item .img_box {
    width: 100%;
    height: 100%;
}

.accordion .item img {
    width: 168px;
    height: 100px;
    object-fit: cover;
}


/* o'qtivchi */

.name {
    display: flex;
    justify-content: space-between;
}

.name .col_box {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.name .col_box .ism {
    width: 200px;
}

.name .col_box input {
    box-shadow: 3px 6px rgb(0 0 0 / 10%);
    background-color: transparent;
    border: 1px solid #c1c7cd;
    width: 374px;
    height: 44px;
    outline: none;
    padding-left: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.name .col_box input:focus {
    border: 1px solid #06989d !important;
}

.name .col_box select:focus {
    border: 1px solid #06989d !important;
}

.name .col_box select {
    box-shadow: 3px 6px rgb(0 0 0 / 10%);
    background-color: transparent;
    color: #868e96 !important;
    border: 1px solid #c1c7cd;
    width: 374px;
    height: 44px;
    outline: none;
    padding-left: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.custom-checkbox {
    width: 100%;
    display: flex;
    align-items: center;
}

.custom-checkbox p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 8px;
}

.custom-checkbox label {
    width: 16px;
    height: 16px;
    border: 1px solid #a7b6c2;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.custom-checkbox label span {
    display: block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    margin: 4px;
    transition: all 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked+label {
    background: #06989d;
    border-color: #06989d;
}

.custom-checkbox input {
    display: none;
}


/* Davomat */

.name .name_box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name .name_box1 img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.name .name_box1 p {
    width: 383px;
    height: 68px;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #182026;
}


/* bitiruv */

.sectionHeader .name_box1 {
    display: flex;
    align-items: center;
}

.sectionHeader .name_box1 img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.sectionHeader .name_box1 p {
    padding-right: 28px;
    width: 300px;
    height: 68px;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.2px;
    color: #182026;
}

.name .col_box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #121619;
    border: 1px solid #a7b6c2;
    box-shadow: 3px 6px rgb(0 0 0 / 10%);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.name .col_box .span {
    margin: 0px 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #696363;
}

.name .sert img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.mainbox .button {
    padding: 89px 0;
}

.mainbox .button .btn {
    cursor: pointer;
    margin-right: 33px;
    background: #1f80c7;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 207px;
    height: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: 3px 6px rgb(0 0 0 / 10%);
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.1s;
    -ms-transition: all ease-in 0.1s;
    -o-transition: all ease-in 0.1s;
}

.mainbox .button .btn:active {
    box-shadow: none;
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.1s;
    -moz-transition: all ease-in 0.1s;
    -ms-transition: all ease-in 0.1s;
    -o-transition: all ease-in 0.1s;
}

.mainbox .button .btn1 {
    cursor: pointer;
    background: #1fc78f;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 207px;
    height: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: 3px 6px rgb(0 0 0 / 10%);
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
}

.mainbox .button .btn1:active {
    box-shadow: none;
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.1s;
    -moz-transition: all ease-in 0.1s;
    -ms-transition: all ease-in 0.1s;
    -o-transition: all ease-in 0.1s;
}


/* table */

.table {
    padding-top: 96px;
}

.table table,
tr,
td,
th {
    border: 1px solid #06989d;
    padding: 8px;
}

.table table {
    /* border-collapse: collapse; */
    border: 1px solid #06989d;
    width: 100%;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
}

.table .bosh {
    height: 50px;
}

.foscheck input {
    display: none;
}

.foscheck label {
    display: block;
    width: 20px;
    height: 20px;

    background: url(../icon/check2.svg);
    background-size: 100%;
}

.foscheck input:checked+label {
    background: url(../icon/x.svg);
    background-size: 100%;
}

.table .foscheck select {
    background: transparent;
    border: none;
}

.table .izoh {
    margin-top: 21px;
}

.table .izoh {
    display: flex;
}

.table .izoh p {
    text-align: justify;
    color: #131313;
    margin: 0px 16px;
}

.table .izoh p span {
    color: red;
}


/* monitoring */

.table-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.table-box table {
    width: 50%;
}

.table-box .son .sonlar {
    width: 170px;
    height: 91px;
    border-radius: 12px;
    background: #F2F4F8;
    margin: 0px 12px;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.name_box:last-child {
    margin-left: 30px;
}

.table .bosh th input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}


/*# sourceMappingURL=style.css.map */