:root {
    --asosiyRang: #F5F8FA;
    --headerTextColor: #5C7080;
    --footerBg: #014D51;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    @media (min-width: 576px) {
        max-width: 540px;
        padding: 0;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

h1,
h2 {
    line-height: 1.1;
    letter-spacing: 0.2px;
}

button:focus {
    outline: 0;
}

.DDactive {
    height: 3.375rem !important;
    border: 1px solid #5C7080 !important;
    background: var(--asosiyRang) !important;
}

.search {
    display: flex;
    align-items: center;
    background: #EBF1F5;
    color: var(--headerTextColor);
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.75rem;
    svg {
        margin-right: 0.375rem;
    }
    form {
        flex: 1;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: var(--headerTextColor);
        background: transparent;
    }
     ::placeholder {
        color: var(--headerTextColor);
    }
}

.sectionLinks {
    display: none;
    flex-wrap: wrap;
    margin: 0 -12px;
    .link {
        width: 50%;
        padding: 0 12px;
        margin-bottom: 1rem;
    }
    a {
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #182026 !important;
        display: block;
        text-align: center;
        border: 1px solid #BFCCD6;
        border-radius: 12px;
    }
    @media (max-width: 1199px) {
        display: flex;
    }
    @media (max-width: 575px) {
        .link {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

.header {
    font-size: 0.75rem;
    background: var(--asosiyRang);
    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .headerNav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1rem;
    }
    .left .headerNav {
        padding: 0.75rem 0;
    }
    a {
        color: var(--headerTextColor);
    }
    .leftItem:not(:last-child) {
        margin-right: 2rem;
    }
    .rightItem:not(:first-child) {
        margin-left: 2rem;
    }
    .rightItem a {
        display: flex;
        align-items: center;
    }
    .rightItem {
        position: relative;
    }
    #language {
        cursor: pointer;
        svg {
            margin-left: 0.25rem;
            transition: all 0.3s ease;
        }
    }
    #DDmenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 0rem;
        top: 1.5rem;
        right: -0.5rem;
        padding: 0 1.75rem 0 1rem;
        border: 1px solid transparent;
        border-radius: 0.3rem;
        background: transparent;
        overflow: hidden;
        transition: height .3s ease;
    }
    .DDitem {
        margin-bottom: 0.25rem;
    }
    .specialopportunity svg {
        margin-right: 0.375rem;
    }
    .search {
        display: none;
    }
    @media (max-width: 1199px) {
        font-size: 0.875rem;
        position: fixed;
        z-index: 100;
        background: #fff;
        top: 94px;
        right: -100%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transition: right 0.3s ease;
        .box {
            margin-top: 2rem;
            position: relative;
        }
        .search {
            display: flex;
            margin-bottom: 1.5rem;
            width: 100%;
        }
        .left {
            width: 100%;
            margin-bottom: 100px;
        }
        .leftItem {
            width: 100%;
            margin: 0 !important;
            padding: 1rem 0;
            border-bottom: 1px solid #E1E8ED;
        }
        .leftItem:first-child {
            border-top: 1px solid #E1E8ED;
        }
        .leftItem a {
            color: #182026 !important;
            font-weight: 500;
        }
        .headerNav {
            line-height: 1.125rem;
        }
        .left .headerNav {
            margin-top: 0.5rem;
            padding: 0;
        }
        .rightItem {
            margin: 0 !important;
        }
        .searchtop {
            display: none;
        }
        .language {
            display: none;
        }
        .specialopportunity {
            display: none;
        }
    }
    @media (max-width: 767px) {
        top: 74px;
    }
    @media (max-width: 575px) {
        top: 60px;
        .box {
            padding-top: 44px;
        }
        .left .headerNav {
            margin-top: 1rem;
        }
        .search {
            height: 44px !important;
        }
        .language {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
        }
        .specialopportunity {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.navbar {
    padding-top: 2.75rem;
    a {
        color: #182026;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 11.4px;
        line-height: 13px;
        img {
            width: 70px;
            height: 70px;
        }
    }
    .NavbarNav {
        list-style-type: none;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 500;
    }
    .NavbarItem:not(:last-child) {
        margin-right: 2rem;
    }
    .buttonBox {
        display: flex;
        align-items: center;
    }
    .enter {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 500;
        cursor: pointer;
        color: #06989D;
        background: transparent;
        border: 1px solid #06989D;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        p {
            margin-left: 0.375rem;
        }
    }
    .menuX {
        border: none;
        display: none;
        cursor: pointer;
        background: transparent;
        color: #5C7080;
    }
    @media (max-width: 1399px) {
        .NavbarItem:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    @media (max-width: 1199px) {
        padding-top: 1.5rem;
        .Navbarlink {
            display: none;
        }
        .enter {
            border: none;
        }
        .menu {
            display: block;
        }
    }
    @media (max-width: 767px) {
        .logo {
            font-size: 8px;
            line-height: 9.4px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    @media (max-width: 575px) {
        padding-top: 1.25rem;
        .logo {
            font-size: 5.4px;
            line-height: 7.5px;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.sectionHeader .textbox {
    // width: 50%;
    h1 {
        font-size: 3rem;
        line-height: 3.3rem;
        margin-bottom: 2rem;
    }
    .search {
        width: 26.75rem;
    }
}

.mainbox {
    margin: 4rem 0;
    .sectionHeader {
        display: flex;
        flex-wrap: wrap;
    }
    .textbox {
        width: 50%;
        display: flex;
        align-items: center;
        h1 {
            font-size: 64px;
            line-height: 110%;
        }
    }
    .imgbox {
        width: 50%;
        display: flex;
        justify-content: center;
        img {
            width: 70%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media (max-width: 767px) {
        margin: 2rem 0 2.5rem;
        .sectionHeader {
            flex-direction: column-reverse;
        }
        .search {
            margin-bottom: 1.5rem;
            width: 100% !important;
        }
        .textbox {
            width: 100%;
            justify-content: center;
            .tbox {
                width: 100%;
            }
            h1 {
                margin-bottom: 1.5rem;
                font-size: 1.75rem;
                line-height: 2rem;
                text-align: center;
            }
        }
        .imgbox {
            margin-bottom: 1.5rem;
            width: 100%;
            img {
                width: 60%;
            }
        }
    }
    @media (max-width: 575px) {
        margin: 2rem 0 1.5rem;
        .search {
            height: 44px;
        }
        .textbox {
            h1 {
                font-size: 22px;
                line-height: 26px;
            }
        }
        .imgbox {
            margin-bottom: 1.5rem;
            width: 100%;
            img {
                width: 65%;
            }
        }
    }
}

.footer {
    background: var(--footerBg);
    color: var(--asosiyRang);
    font-size: 0.875rem;
    line-height: 1.125rem;
    .footerTop {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 0 1.375rem;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 11.4px;
        line-height: 13px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    h1 {
        font-size: 1rem;
        line-height: 1.25;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    a {
        display: block;
        color: var(--asosiyRang);
    }
    ul {
        list-style-type: none;
    }
    li:not(:last-child) {
        margin-bottom: .75rem;
    }
    .row:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    .row span {
        font-size: 0.75rem;
        color: #D8E1E8;
    }
    .tel {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
    }
    .mail {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .footerBottom {
        color: #D8E1E8;
        padding: 1.25rem 0;
        font-size: 0.75rem;
        line-height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right {
        display: flex;
    }
    .text {
        margin-left: .9rem;
        color: #fff;
        p {
            font-size: 1.125rem;
            line-height: 1rem;
            font-weight: 800;
        }
        span {
            font-size: 0.375rem;
            line-height: 0.4rem;
        }
    }
    @media (max-width: 1399px) {
        .manzil {
            max-width: 255px;
        }
    }
    @media (max-width: 767px) {
        .col {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        .col:first-child {
            margin-bottom: 2rem;
        }
        .col:last-child {
            margin-bottom: 0.5rem;
        }
        .manzil {
            max-width: 100%;
        }
        .footerBottom {
            flex-direction: column;
            align-items: start;
            padding: 1.25rem 0 1.875rem;
        }
        .left {
            margin-bottom: 1.5rem;
        }
    }
    @media (max-width: 575px) {
        .logo {
            font-size: 9.5px;
            line-height: 12px;
            img {
                width: 50px;
                height: 50px;
            }
        }
        .footerBottom {
            padding: 1rem 0 1.56rem;
        }
    }
}

.home1 {
    .big_news {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .big_news h1 {
        font-size: 36px;
    }
    .big_news a {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #06989D;
    }
    .news .min_news {
        padding-top: 36px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
    }
    .new {
        width: calc(100% / 3);
        padding: 0 12px;
    }
    .news span {
        font-size: 12px;
        line-height: 16px;
        color: #5C7080;
    }
    .news h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        height: 44px;
        margin: 8px 0px 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news p {
        font-size: 14px;
        line-height: 140%;
        color: #30404D;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .son {
        padding: 160px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sonlar span {
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.1px;
    }
    .sonlar p {
        font-size: 16px;
        line-height: 20px;
        color: #30404D;
        margin: 8px 0px 16px;
    }
    .border {
        background: #06989D;
        max-width: 56px;
        height: 4px;
    }
    @media screen and (max-width: 1399px) {
        .new {
            width: 50%;
        }
        .new:nth-child(3) {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        .big_news h1 {
            font-weight: 600;
            font-size: 22px;
            line-height: 24px;
        }
        .news .min_news {
            padding-top: 24px;
            margin: 0;
        }
        .new {
            width: 100%;
            padding: 0;
        }
        .new:first-child {
            padding-bottom: 24px;
            border-bottom: 1px solid #E1E8ED;
        }
        .new:nth-child(2) {
            padding-top: 24px;
        }
        .son {
            padding: 56px 0;
        }
        .sonlar {
            width: 50%;
            margin-bottom: 24px;
        }
        .sonlar p {
            font-size: 14px;
            line-height: 18px;
            margin: 4px 0px 16px;
        }
    }
    @media screen and (max-width: 575px) {
        .news {
            position: relative;
            padding-bottom: 42px;
        }
        .big_news h1 {
            font-size: 18px;
            line-height: 22px;
        }
        .news h2 {
            font-size: 16px;
            line-height: 20px;
        }
        .news p {
            font-size: 12px;
            line-height: 16px;
        }
        .big_news a {
            position: absolute;
            bottom: 0;
        }
        .son {
            padding: 32px 0;
        }
        .sonlar {
            width: 100%;
            margin-bottom: 32px;
        }
        .sonlar p {
            margin: 4px 0px 12px;
        }
    }
}

.item h1 {
    font-size: 36px;
    margin-bottom: 36px;
    @media screen and (max-width: 768px) {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    @media screen and (max-width: 575px) {
        font-size: 18px;
        line-height: 22px;
    }
}

.home2 {
    .slider {
        margin: 0 -12px;
    }
    .slick-slide {
        display: flex;
        padding: 0 12px;
    }
}

.card {
    border: 1px solid #CED9E0;
    border-radius: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #30404D;
    padding: 24px;
    display: flex !important;
    justify-content: space-between;
    height: 200px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    p {
        margin-bottom: 8px;
    }
    h2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #182026;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .textbox {
        position: relative;
    }
    span {
        position: absolute;
        bottom: 0;
    }
    .imgbox {
        margin-left: 32px;
    }
    .imgbox div {
        width: 80px;
        height: 80px;
        border-radius: 6px;
        overflow: hidden;
    }
    .imgbox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media screen and (max-width: 768px) {
        height: 180px;
        h2 {
            -webkit-line-clamp: 3;
        }
    }
    @media screen and (max-width: 575px) {
        height: 160px;
        padding: 16px;
        h2 {
            font-size: 16px;
            line-height: 20px;
        }
        .imgbox {
            margin-left: 24px;
        }
        .imgbox div {
            width: 60px;
            height: 60px;
        }
        .imgbox img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.card1 {
    border: 1px solid #CED9E0;
    border-radius: 12px;
    padding: 8px;
    display: flex !important;
    justify-content: space-between;
    height: 200px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    .textbox {
        margin: 16px;
        margin-right: 24px;
    }
    p {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        color: #30404D;
    }
    .h2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #182026;
    }
    .textbox {
        position: relative;
    }
    .imgbox a {
        display: block;
        width: 142px;
        height: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 6px;
        overflow: hidden;
    }
    .imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .download {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #06989D;
        width: 143px;
        padding: 8px 16px;
        border: 1px solid #06989D;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    @media screen and (max-width: 768px) {
        height: 180px;
        .h2 {
            -webkit-line-clamp: 2;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 6px;
        height: 160px;
        .textbox {
            margin: 8px;
        }
        .h2 {
            font-size: 16px;
            line-height: 20px;
        }
        .imgbox a {
            width: 90px;
        }
        .download {
            width: 120px;
            padding: 6px 8px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.card2 {
    border: 1px solid #CED9E0;
    border-radius: 12px;
    padding: 8px;
    display: flex !important;
    justify-content: space-between;
    height: 200px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    .textbox {
        margin: 16px;
        margin-right: 24px;
        color: #182026;
    }
    p {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        color: #30404D;
    }
    h2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .imgbox div {
        width: 142px;
        height: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 6px;
        overflow: hidden;
    }
    .imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width: 768px) {
        height: 180px;
        h2 {
            -webkit-line-clamp: 2;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 6px;
        height: 160px;
        .textbox {
            margin: 8px;
        }
        h2 {
            font-size: 16px;
            line-height: 20px;
        }
        .imgbox div {
            width: 90px;
        }
    }
}

.main2 .card1,
.main3 .card1,
.main4 .card2 {
    height: 220px;
    @media screen and (max-width: 767px) {
        height: 200px;
    }
    @media screen and (max-width: 575px) {
        height: 180px;
    }
    @media screen and (max-width: 460px) {
        height: 160px;
    }
}

.main2 .card1 .h2,
.main3 .card1 .h2,
.main4 .card2 h2 {
    -webkit-line-clamp: 4 !important;
    @media screen and (max-width: 460px) {
        -webkit-line-clamp: 3 !important;
    }
}

.home3 {
    margin-top: 80px;
    background: #F5F8FA;
    .bigLoiha {
        display: flex;
        position: relative;
    }
    .loiha {
        width: 50%;
        min-width: 650px;
    }
    .loiha h1 {
        font-size: 36px;
        padding: 80px 0 32px;
    }
    .loiha p {
        font-size: 16px;
        line-height: 24px;
        color: #30404D;
        padding-bottom: 104px;
    }
    .raketa {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @media screen and (max-width: 768px) {
        margin-top: 48px;
        .loiha {
            width: 100%;
            min-width: auto;
        }
        .loiha h1 {
            font-weight: 600;
            font-size: 22px;
            line-height: 24px;
            padding: 26px 0 16px;
        }
        .loiha p {
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 48px;
        }
        .raketa {
            display: none;
        }
    }
    @media screen and (max-width: 575px) {
        margin-top: 32px;
        .loiha h1 {
            font-size: 18px;
            line-height: 22px;
            padding: 26px 0 16px;
        }
    }
}

.home4 {
    margin: 80px 0;
    .img_brand {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .img_brand img {
        max-width: 100%;
    }
    @media screen and (max-width: 767px) {
        margin: 56px 0;
    }
    @media screen and (max-width: 575px) {
        margin: 32px 0;
    }
}

.general {
    .sectionHeader {
        padding: 4.5rem 0 2rem;
        border-bottom: 1px solid #E1E8ED;
    }
    .sectionBody {
        position: relative;
        padding-top: 3rem;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        .left {
            width: 25%;
            padding-right: 34px;
            .buttonBox {
                .btnLeft {
                    cursor: pointer;
                    display: block;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: left;
                    border: none;
                    background: transparent;
                    border-radius: 8px;
                    padding: 12px;
                    margin-bottom: 2px;
                }
                .btnLeft:hover,
                .active {
                    background: #06989d;
                    color: #fff;
                    font-weight: 600;
                }
            }
            .totop {
                border: none;
                background: #EBF1F5;
                color: #230B34;
                width: 56px;
                height: 56px;
                position: absolute;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 0;
                left: 0;
            }
        }
        .right {
            width: 75%;
            .rightHeader {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 24px;
                .text {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    margin-right: 32px;
                    margin-bottom: 12px;
                    h1 {
                        font-weight: 600;
                        font-size: 28px;
                        margin-right: 12px;
                    }
                    span {
                        font-size: 22px;
                        min-width: 60px;
                        color: #8A9BA8;
                    }
                    @media (max-width: 1399px) {
                        letter-spacing: 0;
                        margin-right: 10px;
                    }
                    @media (max-width: 767px) {
                        margin-right: 0;
                    }
                }
            }
            .row {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -12px;
            }
            .col {
                padding: 0 12px 24px;
                width: 50%;
            }
            .more {
                display: flex;
                justify-content: center;
                margin-top: 12px;
            }
            .more1 {
                background: #EBF1F5;
                border: none;
                cursor: pointer;
                border-radius: 8px;
                padding: 13px 24px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
            }
        }
    }
    .selects-box {
        display: flex;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        .select {
            position: relative;
            min-width: 150px;
        }
        .select:not(:last-child) {
            margin-right: 12px;
        }
        .select__selected-item {
            background: #EBF1F5;
            padding: 12px 16px;
            border-radius: 8px;
            color: #182026;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
        .select__selected-title {
            margin-right: 16px;
        }
        .select__arrow {
            transition: 0.3s;
        }
        .select__arrow_rotate {
            transform: rotate(180deg);
        }
        .select__list::-webkit-scrollbar {
            display: none;
        }
        .select__list {
            border: 2px solid transparent;
            border-radius: 4px;
            position: absolute;
            width: 100%;
            top: 105%;
            z-index: 1;
            box-sizing: border-box;
            transition: 0.3s;
            overflow: scroll;
            max-height: 0;
            opacity: 0;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .select__list_opened {
            max-height: 200px;
            border-color: #d8d8d8;
            opacity: 1;
        }
        .select__list-item {
            padding: 10px 20px;
            color: #182026;
            border-bottom: 1px solid #d8d8d8;
            background: #fff;
            &:hover {
                cursor: pointer;
                background: #f9f9f9;
            }
            &:first-child {
                border-radius: 2px 2px 0 0;
            }
            &:last-child {
                border-bottom: none;
                border-radius: 0 0 2px 2px;
            }
        }
        .select__input {
            display: none;
        }
        @media (max-width: 1399px) {
            font-size: 13px;
            line-height: 16px;
            .select {
                min-width: 135px;
            }
            .select:not(:last-child) {
                margin-right: 8px;
            }
            .select__selected-item {
                padding: 10px 12px;
            }
            .select__selected-title {
                margin-right: 6px;
            }
        }
        @media (max-width: 460px) {
            font-size: 12px;
            line-height: 14px;
            .select {
                min-width: 10px;
            }
            .select:not(:last-child) {
                margin-right: 4px;
            }
            .select__selected-item {
                padding: 8px 10px;
            }
            .select__arrow {
                width: 18px;
                height: 18px;
            }
            .select__selected-title {
                margin-right: 2px;
            }
        }
    }
    @media (max-width: 767px) {
        .sectionHeader {
            padding: 3rem 0 2rem;
            .textbox h1 {
                font-size: 2.2rem;
                line-height: 2.4rem;
                margin-bottom: 1.5rem;
            }
            .search {
                width: 100%;
            }
        }
        .sectionBody {
            padding-top: 2rem;
            margin-bottom: 3rem;
            .left {
                width: 100%;
                .totop {
                    width: 38px;
                    height: 38px;
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .right {
                width: 100%;
                .rightHeader {
                    margin-bottom: 12px;
                    .text h1 {
                        font-size: 26px;
                    }
                }
                .col {
                    width: 100%;
                    // padding: 0 12px 12px;
                }
                .more1 {
                    padding: 10px 18px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        .sectionHeader {
            padding: 2rem 0 1.5rem;
            .textbox h1 {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 1rem;
            }
            .search {
                height: 44px;
            }
        }
        .sectionBody {
            .left {
                .totop {
                    width: 32px;
                    height: 32px;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .right {
                .rightHeader {
                    margin-bottom: 8px;
                    .text {
                        line-height: 26px;
                        h1 {
                            font-size: 22px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
                .col {
                    padding-bottom: 12px;
                    .card1 {
                        .imgbox a {
                            width: 130px;
                        }
                    }
                    .card2 {
                        .imgbox div {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 460px) {
        .card1 {
            .imgbox a {
                width: 90px !important;
            }
        }
        .card2 {
            .imgbox div {
                width: 90px !important;
            }
        }
    }
}

.home {
    .textbox a {
        font-size: 14px;
        line-height: 18px;
        color: #06989D;
        display: flex;
        align-items: center;
    }
    .textbox a svg {
        margin-right: 0.5rem;
    }
    .general .sectionHeader {
        padding: 4.5rem 0 2rem;
        border-bottom: none;
    }
    .sectionHeader h1 {
        max-width: 977px;
    }
    .right .row {
        padding-bottom: 4.5rem 0 2rem;
        border-bottom: 1px solid #E1E8ED;
    }
    .general .sectionBody .left {
        width: 35%;
    }
    .sectionBody .left img {
        width: 100%;
    }
    .general .sectionBody .right {
        width: 65%;
    }
    .general .sectionBody .right .col {
        width: 100%;
    }
    .card_text .textbox h1 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin: 12px 0px;
    }
    .card_text .textbox p {
        font-size: 16px;
        line-height: 24px;
        color: #30404D;
        margin: 12px 0px;
    }
    .card9 {
        border: 1px solid #CED9E0;
        border-radius: 12px;
        padding: 8px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }
    .card9 .textbox {
        margin: 8px 24px 8px 8px;
    }
    .card9 .h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #182026;
    }
    .card9 p {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        color: #30404D;
    }
    .card9 .download {
        position: absolute;
        bottom: 24px;
        right: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: #fff;
        background: #06989D;
        max-width: 143px;
        padding: 8px 16px;
        border: 1px solid #06989D;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .izoh h1 {
        padding: 32px 0 16px;
        color: #182026;
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
    }
    .izoh textarea {
        background: #F5F8FA;
        resize: none;
        outline: none;
        position: relative;
        color: #5C7080;
        max-width: 100%;
        border: #5C7080;
        border-radius: 12px;
        padding-top: 10px;
    }
    .izoh_btn {
        position: absolute;
    }
    .izoh_btn1 {
        position: absolute;
        bottom: 16px;
        left: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        color: #fff;
        background: #06989D;
        max-width: 143px;
        padding: 8px 16px;
        border: 1px solid #06989D;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .izoh a {
        padding-top: 16px;
        display: block;
        text-align: center;
        color: #5C7080;
    }
    .card3 {
        display: flex;
    }
    .card3 .imgbox img {
        width: 100%;
    }
    .textbox1 {
        margin-left: 10px;
    }
    .textbox1 {
        color: #30404D;
    }
    /* .b_text {
        display: grid;
    } */
    @media screen and (max-width: 768px) {
        .general .sectionBody {
            flex-direction: column;
        }
        .general .sectionBody .left {
            width: 100%;
            padding: 0;
        }
        .general .sectionBody .right {
            width: 100%;
            padding: 40px 0 0;
        }
        .general .sectionBody .left .totop {
            display: none;
        }
    }
    @media screen and (max-width: 575px) {
        .sectionHeader .textbox h1 {
            font-size: 22px;
            line-height: 26px;
        }
        .general .sectionBody {
            flex-direction: column;
            padding: 0;
        }
        .general .sectionBody .left {
            width: 100%;
        }
        .general .sectionBody .right {
            width: 100%;
            padding: 40px 0 0;
        }
        .card9 .textbox {
            padding-bottom: 20px;
        }
        .card9 .download {
            bottom: 5px;
        }
        .card3 {
            flex-direction: column;
        }
    }
}