{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="mainbox">
    <div class="container">
        <div class="sectionHeader">
            <div class="textbox">
                <div class="tbox">
                    <h1>Bitiruv malakaviy ishi</h1>
                </div>
            </div>
            <div class="name_box1">
                <p>{{ request.user }}</p>
                <!-- <img src="{% static 'img/Rahbar_maqolasi.jpg' %}" alt=""> -->
            </div>
        </div>
        <div class="row">
            <div class="name">
                <div class="name_box">
                    <form action="#">
                        {% csrf_token %}
                        <input id="csrf_token" value="{{csrf_token}}" disabled hidden>
                        <div class="col_box">
                            <p class="ism">Malaka oshirish toifasi</p>
                            {{ form.toifa }}
                        </div>
                        <div class="col_box">
                            <p class="ism">Guruh raqami</p>
                            {{ form.guruh }}
                        </div>
                        <div class="col_box">
                            <p class="ism">Tinglovchining I.F.O.</p>
                            {{ form.tinglovchi }}
                        </div>
                        <div class="col_box">
                            <p class="ism">BMI mavzusi</p>
                            {{ form.bmi_mavzu }}
                        </div>
                        <div class="col_box">
                            <p class="ism">BMI rahbari I.F.O.</p>
                            {{ form.bmi_rahbar }}
                        </div>
                        <div class="col_box">
                            <p class="ism">BMI bali </p>
                            {{ form.bmi_ball }}
                        </div>
                        <div class="col_box">
                            <p class="ism">BMI ni yuklash</p>
                            <!-- <a href="#">Faylni tanlash</a> -->
                            {{ form.file }}
                            <span class="span">.pdf(10 mb)</span>
                        </div>
                    </form>
                </div>
                <div class="sert">
                    <img src="{% static 'img/sertfikat.png' %}" alt="">
                </div>
            </div>
            <div class="button">
                <button class="btn" id="bekor">Bekor qilish</button>
                <button class="btn1" id="save_btn">Saqlash</button>
            </div>
        </div>
    </div>
</div>
</section>

<script src="{% static 'js/jQuery.min.js' %}"></script>
<script src="{% static 'slick/slick.js ' %}" type="text/javascript " charset="utf-8 "></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main1.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
<script>
    $(document).ready(function (e) {
        $("#bekor").click(function () {
            swal("nimadir")
        })

        document.getElementById("id_toifa").addEventListener('change', e => {
            var toifa = $('#id_toifa').find(":selected").text();
            console.log(toifa);
            $.ajax({
                url: '/base_app/bitiruv/',
                type: 'POST',
                data: {
                    select: 'toifa',
                    'toifa': toifa,
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                },
                'Content-type': 'application/json',
                success: function (res) {

                    $('#id_guruh').empty();
                    $("#id_guruh").append('<option></option>');
                    $.each(res['guruh'], function (i, v) {
                        $('#id_guruh').append('<option value="' + v['id'] + '">' + v["guruh"] + '</option>')
                    });
                    $('#id_tinglovchi').empty();
                    $('#id_tinglovchi').append('<option></option>');
                    $.each(res['ting'], function (i, v) {
                        $("#id_tinglovchi").append('<option value="' + v['id'] + '" >' + v['fish'] + '</option>');
                    })

                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    })

    document.getElementById('id_guruh').addEventListener('change', e => {
        var guruh = $('#id_guruh').find(":selected").text();
        console.log(guruh);
        $.ajax({
            url: '/base_app/bitiruv/',
            type: 'POST',
            data: {
                select: 'guruh',
                'guruh': guruh,
                csrfmiddlewaretoken: $("#csrf_token").val(),
            },
            'Content-type': 'application/json',
            success: function (res) {
                $("#id_tinglovchi").empty();
                $('#id_tinglovchi').append('<option></option>');
                $.each(res['ting'], function (i, v) {
                    $("#id_tinglovchi").append('<option value="' + v['id'] + '" >' + v['fish'] + '</option>');
                })
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    document.getElementById('save_btn').addEventListener('click', e => {
        var toifa = $('#id_toifa').find(':selected').val();
        var guruh = $('#id_guruh').find(':selected').val();
        var tinglovchi = $('#id_tinglovchi').find(':selected').val();
        var mavzu = $('#id_bmi_mavzu').val();
        var rahbar = $('#id_bmi_rahbar').val();
        var ball = $('#id_bmi_ball').val();
        var file = $('#id_file').val();

        $.ajax({
            url: '/base_app/bitiruv/',
            type: 'POST',
            data: {
                select: 'data',
                'toifa': toifa,
                'guruh': guruh,
                'tinglovchi': tinglovchi,
                'mavzu': mavzu,
                'rahbar': rahbar,
                'ball': ball,
                'file': file,
                csrfmiddlewaretoken: $("#csrf_token").val(),
            },
            'Content-type': 'application/json',
            success: function (res) {
                console.log(res);
                if (res['status'] == 'ok') {

                    swal("Ma'lumotlar saqlandi!", "saqlandi", "success");
                }
                else if (res['status'] == 'xato') {
                    console.log(res);
                    // alert('Avval Ushbu tinglovchining chiqish testi bali kiritilgan bo\'lishi kerak ');
                    swal("Xatolik!", "Avval Ushbu tinglovchining chiqish testi bali kiritilgan bo\'lishi kerak !", "error");
                } else if (res['status'] == 'bor') {
                    swal("Xatolik!", "Ushbu tinglovchining malumotlari saqlangan!", "info");
                }

            },
            error: function (err) {
                console.log(err);
            }


        })

    })







    // function refresh(){
    //       window.location.reload("Refresh")
    //     }



    function displayVals() {
        var i = 1;
        var vals = [];
        var noVal = "undefined";
        $('input[type="time"]').each(function () {
            var x = $(this).val().split(':');
            var h = x[0];
            var m = x[1];
            if (h < 10) {
                h = h.substring(1);
            }
            vals[i] = h + ':' + m;
            i++;
        });

        var monday = "2:" + vals[1] + ":" + vals[2];
        var tuesday = "3:" + vals[3] + ":" + vals[4];
        var wednesday = "4:" + vals[5] + ":" + vals[6];
        var thursday = "5:" + vals[7] + ":" + vals[8];
        var friday = "6:" + vals[9] + ":" + vals[10];
        var saturday = "7:" + vals[11] + ":" + vals[12];
        var sunday = "1:" + vals[13] + ":" + vals[14];


        $(".result").val(monday + "," + tuesday + "," + wednesday + "," + thursday + "," + friday + "," + saturday + "," + sunday);

        $(".result").select();

    }
</script>

{% endblock %}