{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="table">
                    <table>
                        <tr class="bosh">
                            <th style="width: 5%;">№</th>
                            <th>Familyasi, ismi, otasining ism</th>
                            <th>casc sx c</th>
                            <th>c zzx s</th>
                        </tr>
                        {% for n in results %}
                        <tr>
                            <td>1</td>
                            <td>{{ n.0 }}</td>
                            <td>dcsa</td>
                        </tr>
                         {% endfor %}
                    </table>
                </div>





{% endblock %}