{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="mainbox">
    <div class="container">

        <div class="sectionHeader">
            <div class="textbox">
                <div class="tbox">
                    <h1>Kunlik davomat </h1>
                    <!-- <h2>Malaka oshirish toifalari</h2> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="name">


                <div class="name_box">
                    <form method="post" id="form" action="{% url 'base_app:davomat' %}">
                        {% csrf_token %}
                        <input id="csrf_token" value="{{csrf_token}}" disabled hidden>
                        <div class="col_box">

                            <p class="ism">Mazkur moduldan dars
                                o‘tadigan o‘qituvchining F.I.SH</p>

                            <input type="text" readonly
                                   value="{{ user.first_name }} {{user.username}} {{ user.last_name }}">
                        </div>
                        <div class="col_box">
                            <p class="ism">Malaka oshirish toifasi</p>
                            <select id="toifa" name="toifa">
                                <option></option>
                                {% for a in toifa %}
                                <option value="{{a.id}}">{{ a }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col_box">
                            <p class="ism">Guruh raqami</p>
                            <select id="guruh" name="guruh">
                                <option></option>

                                <option></option>

                            </select>
                        </div>
                        <div class="col_box">
                            <p class="ism">O‘tiladigan modullar</p>
                            <select id="modul" name="modul">
                                <option></option>
                                {% for a in modul %}
                                <option>{{ a }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col_box">
                            <p class="ism">Dars soati</p>
                            <input name="soat" type="text" id="soat" placeholder="Dars soatini kiriting">
                        </div>
                    </form>
                    <div class="button">
                        <input type="submit" class="btn" id="btn_davomat" value="Qidirish">
                    </div>
                </div>


                <div class="name_box1">
                   
                    

                    {% for a in admin %}
                    {% if a.photo %}
                    <img src="{{ a.photo.url }}" alt=""><br>
                    {% endif %}
                    <p>{{ a.username }} {{a.last_name}}
                    </p>
                    {% endfor %}

                </div>
            </div>

        </div>


        <div class="table">
            <h1 style="text-align: center;"> Bugungi mavzuni kiriting</h1><br>
            <div class="search" style="width: 100%; margin-bottom: 10px;">

                <input type="text" id="mavzu" placeholder="Mavzu nomi...">
            </div>
            <br>
            <table id="customers">
                <tr class="bosh">
                    <th rowspan="2" style="width: 5%;">№</th>
                    <th rowspan="2">Familyasi, ismi, otasining ism</th>
                    <th rowspan="2">Ta'lim muassasining nomi</th>
                    <th colspan="2"><input name="datemax"  type="date"></th>
                </tr>
                <tr>
                    <th>Davomat</th>
                    <th>Faolik darajasi</th>
                </tr>


            </table>
            <br>
            <div class="izoh">
                <b>Izoh:</b>
                <p> Faollik darajasi: <br> <span>(faol)</span> Tinglovchilar darsda faol qatnashganligi.<br>
                    <span>(yaxshi)</span> Tinglovchilar darsda yaxshi qatnashganligi.<br> <span>(passiv)</span>
                    Tinglovchilar darsda passiv qatnashganligi.
                </p>
                <p> Davomat: <br> <span>(<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                              fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                                    fill="green"/>
                        </svg>)</span> Tinglovchilar darsga qatnashganligi. <br> <span>(<svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                                    fill="red"/>
                        </svg>)</span> Tinglovchilar darsga qatnashmaganligi.
                </p>
            </div>
            <div class="button">
                <button class="btn" onclick="refresh()">Bekor qilish</button>
                <button class="btn1" id="save_btn">Saqlash</button>
                
            </div>
        </div>
    </div>
</div>
</section>

<script src="{% static 'js/jQuery.min.js' %}"></script>
<script src="{% static 'js/davomat.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main1.js '%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">

<script>

  






    function displayVals() {
        var i = 1;
        var vals = [];
        var noVal = "undefined";
        $('input[type="time"]').each(function () {
            var x = $(this).val().split(':');
            var h = x[0];
            var m = x[1];
            if (h < 10) {
                h = h.substring(1);
            }
            vals[i] = h + ':' + m;
            i++;
        });

        var monday = "2:" + vals[1] + ":" + vals[2];
        var tuesday = "3:" + vals[3] + ":" + vals[4];
        var wednesday = "4:" + vals[5] + ":" + vals[6];
        var thursday = "5:" + vals[7] + ":" + vals[8];
        var friday = "6:" + vals[9] + ":" + vals[10];
        var saturday = "7:" + vals[11] + ":" + vals[12];
        var sunday = "1:" + vals[13] + ":" + vals[14];


        $(".result").val(monday + "," + tuesday + "," + wednesday + "," + thursday + "," + friday + "," + saturday + "," + sunday);

        $(".result").select();

    }

</script>

{% endblock %}
