{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="mainbox">
    <div class="container">
        <div class="sectionHeader">
            <div class="textbox">
                <div class="tbox">
                    <h1>Malaka oshirish toifalari</h1>

                </div>
            </div>
        </div>

        <div class="accor">

            <div class="accordion">
                {% for i in toifalar %}
                <div class="item">
                    <div class="img_box">
                        <img src="{% static 'img/журнал 2.png' %}" alt="">
                    </div>
                    <div class="text_box">
                        <p class="text">{{i}}</p>

                        {% for f in soni %}
                        {% if f.toifa == i.id %}
                        <span>{{ f.soni }} nafar tinglovchi</span>
                        {% endif %}
                        {% endfor %}

                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 9l-7 7-7-7"/>
                    </svg>
                    <div class="hidden-box">

                        <ul>
                            {% for a in ting %}
                            {% if a.toifa_id == i.id %}
                            <li>{{ a.fish }}</li>
                            {% endif %}
                            {% endfor %}

                        </ul>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

</section>
<script src="{% static 'js/jQuery.min.js' %}"></script>
<script src="{% static 'slick/slick.js ' %}" type="text/javascript " charset="utf-8 "></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main1.js' %}"></script>

<script>
        const items = document.querySelectorAll(".item");

        items.forEach((item) => {
            item.addEventListener("click", () => {
                item.classList.toggle("open");
            });
        });



</script>

{% endblock %}