{% extends 'index.html' %}
{% load static %}
{% block content %}
        <div class="mainbox">
            <div class="container">
                <div class="sectionHeader">
                    <div class="textbox">
                        <div class="tbox">
                            <h1>Malaka oshirish monitoringi</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="name">
                        <div class="name_box">
                            <!-- <form action="#" method="post" >{{csrf_token}} -->
                                <div class="col_box">
                                    <p class="ism">Malaka oshirish toifasi</p>
                                    <input id="csrf_token" value="{{csrf_token}}" disabled hidden>

                                    <select id="m_toifa">
                                        <option value=""></option>
                                        {% for a in object_list %}
                                        <option value="">{{ a.toifa }}</option>
                                     {% endfor %}
                                    </select>
                                </div>
                                <div class="col_box">
                                    <p class="ism">Guruh raqami</p>
                                    <select id="m_guruh">
                                        
                                    </select>
                                </div>
                            <!-- </form> -->
                        </div>

                                                   
                      

                          <div class="name_box1">
                    {% for a in admin %}
                        {% if a.photo %}
                            <img src="{{ a.photo.url }}" alt="">
                        {% endif %}
                    <p>{{ a.username }}
                    </p>
                    {% endfor %}
                </div>

                    </div>
                    <div class="search" style="width: 129px;">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.67624 1.66666C5.25265 1.66666 1.66663 5.17348 1.66663 9.49937C1.66663 13.8253 5.25265 17.3321 9.67624 17.3321C11.5682 17.3321 13.3069 16.6906 14.6774 15.6179L17.2808 18.1572L17.3501 18.2155C17.5918 18.3904 17.9345 18.3705 18.1532 18.1561C18.3938 17.9202 18.3933 17.5383 18.1521 17.303L15.5793 14.7936C16.8874 13.3995 17.6859 11.5406 17.6859 9.49937C17.6859 5.17348 14.0998 1.66666 9.67624 1.66666ZM9.67625 2.87311C13.4185 2.87311 16.4522 5.83979 16.4522 9.49937C16.4522 13.159 13.4185 16.1256 9.67625 16.1256C5.93401 16.1256 2.90033 13.159 2.90033 9.49937C2.90033 5.83979 5.93401 2.87311 9.67625 2.87311Z"
                                fill="currentColor" />
                        </svg>
                       
                            <input type="button" id="search" value="Qidiruv">
                       
                    </div>
                </div>
                <div class="table">
                    <div class="table-box">
                        <table id="customers">
                            <tr class="bosh">
                                <th rowspan="2" style="width: 5%;">№</th>
                                <th rowspan="2">Familyasi, ismi, otasining ism</th>
                                <th rowspan="2">Ta\'lim muassasining nomi</th>
                                <th>02.11.2021</th>
                                <th>28.11.2021</th>
                            </tr>
                            <tr>
                                <th>Kirish testi</th>
                                <th>Chiqish testi</th>
                            </tr>
                        </table>
                        <div class="son">
                            <div class="sonlar">
                                <span class="Count">500</span>
                                <p>Tinglovchilar soni</p>
                            </div>
                            <div class="sonlar">
                                <span class="Count">233</span>
                                <p>Kirish testi<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0v6z" fill="#06989d"/>
                                  </svg></p>
                            </div>
                            <div class="sonlar">
                                <span class="Count">460</span>
                                <p>Chiqish testi<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" fill="#06989d"/>
                                  </svg></p>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn" onclick="refresh()" >Bekor qilish</button>
                        <button class="btn1" id="save_btn">Saqlash</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/jQuery.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/main1.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
  
  <script>
$(document).ready(function (e) {
  document.getElementById("m_toifa").addEventListener('change', e=>{
      var toifa= $("#m_toifa").find(":selected").text();
      $.ajax({
          url:'/base_app/monitoring/',
          type:'post',
          data:{
              'toifa':toifa,
              select:'toifa',
              csrfmiddlewaretoken: $('#csrf_token').val(),
            },
            'Content-type': 'application/json',
            success: function (res) {
                $('#m_guruh').empty();
                $.each(res['guruh'], function(i, v){
                    $('#m_guruh').append('<option value="' + v['id'] + '">' + v["guruh"] + '</option>')
                    });

                // $('#customers').empty();
                // $('#customers').append('<tr class="bosh"><th rowspan="2" style="width: 5%;">№</th><th rowspan="2">Familyasi, ismi, otasining ism</th><th rowspan="2">Ta\'lim muassasining nomi</th><th>02.11.2021</th><th>28.11.2021</th></tr><tr><th>Kirish testi</th><th>Chiqish testi</th></tr>')
                // $.each(res['ting'], function(i, v){
                //     n=i+1;
                
                // $('#customers').append('<tr class="rm"><td>' + n + '</td><td class="ism">' + v["ism"] + ' ' + v["familya"] + '</td>'+'<td class="joy">' + v["joy"] + '</td><td><input type="text" style="outline:none; background:none; border:none;"  class ="leng" id="kirish'+n+'"></td><td><input style="outline:none; background:none; border:none;" type="text" id="chiqish'+n+'"></td> </tr>')
                //     })
            },
            error: function (err) {
                console.log(err);
            }
      });


  })

  document.getElementById("search").addEventListener('click', e=>{
    var toifa= $("#m_toifa").find(":selected").text();
    var guruh=$("#m_guruh").find(":selected").text();
    $.ajax({
        url: "/base_app/monitoring/",
        type:"post",
        data: {
            'toifa':toifa,
            'guruh': guruh,
            select:'search',
            csrfmiddlewaretoken: $('#csrf_token').val(), 
        },
        'Content-type': 'application/json',
        success: function(res){
            $('#customers').empty();
            $('#customers').append('<tr class="bosh"><th rowspan="2" style="width: 5%;">№</th><th rowspan="2">fish</th><th rowspan="2">Ta\'lim muassasining nomi</th><th>02.11.2021</th><th>28.11.2021</th></tr><tr><th>Kirish testi</th><th>Chiqish testi</th></tr>')
            $.each(res['ting'], function(i, v){
                n=i+1;
               
            $('#customers').append('<tr class="rm"><td>' + n + '</td><td class="ism">' + v["fish"] + '</td>'+'<td class="joy">' + v["joy"]+ '</td><td><input type="text" style="outline:none; background:none; border:none;"  class ="class_kirish"  id="kirish'+n+'"></td><td><input style="outline:none; background:none; border:none;" type="text" class="chiqish" id="chiqish'+n+'"><input disabled hidden class="id_ting" id="id_ting'+n+'" value="'+v['id']+'" ></td></tr>')
                 })
        },
        error: function(err){
            console.log(err);
        }
    })
  })

    document.getElementById("save_btn").addEventListener('click', e=>{
    kirish_test=[];
    var l=document.getElementsByClassName("class_kirish").length;
    for(var i=1; i<=l; i++){

        kirish_test.push($("#kirish"+i+"").val());
    }

    console.log(kirish_test);


    chiqish_test=[];
    var n=document.getElementsByClassName("chiqish").length;
    for(var i=1; i<=n; i++){
        chiqish_test.push($("#chiqish"+i+"").val());
    }
    console.log(chiqish_test);
    ting_id=[];
    var ting=document.getElementsByClassName('id_ting').length;
   for(var j=1; j<=ting; j++){
       ting_id.push($("#id_ting"+j+"").val());
   }
   console.log(ting_id)
    $.ajax({
        url: '/base_app/monitoring/',
        type: 'post',
        data:{
            'kirish':kirish_test,
            'chiqish':chiqish_test,
            'id_ting':ting_id,
            'guruh':$("#m_guruh").find(":selected").text(),
            select:'test',
            csrfmiddlewaretoken: $('#csrf_token').val(), 
        },
        'Content-type': 'application/json',
        success: function(res){
            if(res['statuc']=='ok'){
                swal("Ma'lumotlar saqlandi!", "saqlandi", "success");
            }
        },
        error: function(err){
            console.log(err);
        }


    })



    })











})

  </script>
  <script>
    function refresh(){
          window.location.reload("Refresh")
        }
  </script>

{% endblock %}
