{% extends 'index.html' %}
{% load static %}
{% block content %}


{% for a in ting %}

    {{a.id}}
    {{ a.FISH }}
    <br>
  {% endfor %}
 
  <br>
  <br>
  <br>
  <br>
  
  {% for i in dars %}
    {{i.oqitucchi}}
    {{i.mavzu}}
    {{i.toifa}}
    {{i.guruh}}
    {{i.sana}}
  <p>Tinglovchilar:</p>{% for a in i.tinglovchi.all %}  {{a.tinglovchi}} {{ a.is_absent }} {{ a.is_active }}<br> {% endfor %}
  {% endfor %}




{% endblock %}