{% extends 'index.html' %}
{% load static %}
{% block content %}


<div class="mainbox">
    <div class="container">
        <div class="sectionHeader">
            <div class="textbox">
                <div class="tbox">
                    <h1>Tinglovchilarni ro‘yhatga olish</h1>
                    <h2>Shaxsiy ma'lumotlar va kontaktlar</h2>
                </div>
            </div>
        </div>
        <a href="{% url 'base_app:export_users_xlsx' %}"><input type="button" class="btn btn-succes">Kunlik hisobotni
            olish</a>
        <a href="{% url 'base_app:yakun' %}">Yakuniy hisobot</a>

        <form method="POST" action="{% url 'base_app:tinglovchi' %}">{% csrf_token %}
            <div class="row">
                <div class="name">
                    <div class="name_box">

                        <div class="col_box">
                            <p class="ism">FISH</p>
                            {{ form.FISH }}
                        </div>

                        <div class="col_box">
                            <p class="ism">MO yili</p>
                            {{ form.yil }}
                        </div>

                        <div class="col_box">
                            <p class="ism">MO oyi</p>
                            {{ form.oy }}
                        </div>
                        <div class="col_box">
                            <p class="ism">MO shakli</p>
                            {{ form.shakl }}
                        </div>

                        <input id="csrf_token" value="{{csrf_token}}" disabled hidden>
                        <div class="col_box">
                            <p class="ism">Hudud (Viloyat)</p>
                            {{ form.viloyat }}
                        </div>

                        <div class="col_box">
                            <p class="ism">Tuman</p>
                            {{ form.tuman }}
                        </div>

                        <div class="col_box">
                            <p class="ism">Ta’lim muassasasi nomi
                                (ish joyi)</p>
                            {{ form.joy }}
                        </div>


                    </div>

                    <div class="name_box">
                        <div class="col_box">
                            <p class="ism">Telefon</p>
                            {{form.tell}}
                        </div>

                        <div class="col_box">
                            <p class="ism">E-mail pochta</p>
                            {{ form.email }}
                        </div>

                        <div class="col_box">
                            <p class="ism">Malaka oshirish toifa</p>
                            {{ form.toifa }}
                        </div>

                        <div class="col_box">
                            <p class="ism">Guruh raqami</p>
                            {{ form.guruh }}
                        </div>
                        <div class="col_box">
                            <p class="ism">Ilmiy daraja</p>
                            {{ form.daraja }}
                        </div>

                        <div class="col_box">
                            <p class="ism">Himoya qilgan yil</p>
                            {{ form.himoya_yil }}
                        </div>
                        <div class="button">
                            <button class="btn1" id="save_btn" onclick="alert('Tinglovchi ro\'yxatga olindi')">Saqlash
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
        {{ form.errors }}
    </div>
</div>
</section>
<script>

















$(document).ready(function (e) {
    document.getElementById('id_viloyat').addEventListener('change', e => {
        var a = document.getElementById("id_viloyat")
        var vil = a.value;
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
        var data = {'csrfmiddlewaretoken': csrfToken};
        $.ajax({
            url: '/base_app/viloyat/',
            type: 'post',
            data: {
                'vil':vil,
                csrfmiddlewaretoken: $('#csrf_token').val()
                },
            'Content-type': 'application/json',
            success: function (res) {
                $('#id_tuman').empty()
                $.each(res['t'], function (i, v) {
                  
                    $('#id_tuman').append('<option value="' + v['id'] + '">' + v["name"] + '</option>')


                })
            },
            error: function (err) {
                console.log(err);
            }

        })
    });

    $('select[name="guruh"]').attr('disabled', true);
    document.getElementById("id_toifa").addEventListener("change", e=>{
        var a = document.getElementById("id_toifa")
        var toifa = a.value;
        if(toifa==1){
            $('select[name="guruh"]').removeAttr('disabled');
        console.log(toifa);
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
        var data = {'csrfmiddlewaretoken': csrfToken};
        $.ajax({
            url: '/base_app/toifa/',
            type: 'post',
            data: {
                'toifa':toifa,
                csrfmiddlewaretoken: $('#csrf_token').val()
                },
            'Content-type': 'application/json',
            success: function (res) {
                $('#id_guruh').empty()
                $.each(res['guruh'], function (i, v) {
                  
                    $('#id_guruh').append('<option value="' + v['id'] + '">' + v["guruh"] + '</option>')


                })
            },
            error: function (err) {
                console.log(err);
            }
        })
    }else{
        $('select[name="guruh"]').attr('disabled', true);
    }




    })
        



    // document.getElementById("id_zaxira").addEventListener('change', e=>{
    //     toifa.attr("disabled", true);
    // });
    





})


</script>


{% endblock %}